.pageChoise {
  position: absolute;
  display: flex;
  justify-content: space-around;
  left: 35%;
  width: 43%;
}

.pageChoise li {
  margin-top: 10px;
  list-style: none;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}

.pageChoise button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 25px;
  vertical-align: middle;
  cursor: pointer;
  margin-top: 15px;
  outline: none;
}

.prevBtn {
  margin-left: 15px;
}

.nextBtn {
  margin-right: 15px;
}

.pageChoise li:hover,
.pageChoise button:hover {
  color: #9daaac;
}

.pageChoise li:active,
.pageChoise button:active {
  color: #768586;
}

li.selected,
button.selected {
  color: #687172;
}
