.profile__title {
    display: flex;
    flex-direction: row;
  }
  
  .profile__ava {
    width: 25%;
    height: 300px;
    overflow: hidden;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
  
  .ava__img {
    border: 1px solid #333;
    display: block;
    height: 300px;
    transform: translateX(-45%);
  }

  .profile__description {
    font-size: 20px;
    margin-top: 30px;
    margin-left: 70px;
  }

  .status {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-top: 45px;
  }

  .all__counts {
    display: flex;
    margin-top: 45px;
  }
  
.counts {
  margin-left: 20px;
  text-align: center;
}

.counts:first-child {
  margin-left: 0;
}
